<% layout('layouts/boilerplate') %>

<div class="container-md" style="width: 70%;">
    <div class="mb-3">
        <h1> All Projects </h1>
    </div>
    <h2>Personal Projects:</h2>
    <% for (let project in projects){ %>
        <% if (projects[project].type=='Personal Project'){ %>
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title"><%= projects[project].title %></h3>
                    <p class="card-text"><%= projects[project].description %></p>
                    <p class="text-muted">Created at : <%= projects[project].date %></p>
                    <a href="/projects/<%=projects[project]._id %>" class="btn btn-primary">View</a>
                </div>
            </div>
        <%}%>
    <%}%>
    <h2>Group Projects:</h2>
    <% for (let project in projects){ %>
        <% if (projects[project].type=='Group Project'){ %>
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title"><%= projects[project].title %></h3>
                    <p class="card-text"><%= projects[project].description %></p>
                    <p class="text-muted">Created at : <%= projects[project].date %></p>
                    <a href="/projects/<%=projects[project]._id %>" class="btn btn-primary">View</a>
                </div>
            </div>
        <%}%>
    <%}%>
</div>