<% layout('layouts/boilerplate') %>
<div class="container-md">
    <div class="mb-3">
        <h1><%=project.title %></h1>
    </div>
    <div class="mb-3">
        <p><%= project.description %></p>
    </div>
    <div class="mb-3">
        <h2>Tasks:</h2>
        <!-- All tasks -->
        <h3>All Tasks</h3>
        <ul>
        <% for(let task of allTasks) { %>
            <% if(task.status == 'All Tasks') { %>
            <!-- <li><%= task.title %></li> -->
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= task.title %></h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Assigned to: <%= task.assignedTo[0].username %></h6>
                  <p class="card-text">Due date: <%= task.dueDate %></p>
                  <a href="/projects/<%= project._id %>/t/<%=task._id%>">View task</a>
                  <% if (currentUser.username == task.assignedTo[0].username || currentUser.username == project.creator[0].username){%>
                  <form action="/projects/<%= project._id%>/t/<%=task._id%>?_method=DELETE" method="post" class="mt-2">
                      <button class="btn btn-danger">Delete task</button>
                  </form>
                  <%}%>
                </div>
            </div>
            <% } %>
        <% } %>
        </ul>
        <!-- Backlog -->
        <h3>Backlog</h3>
        <ul>
        <% for(let task of allTasks) { %>
            <% if(task.status == 'Backlog') { %>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= task.title %></h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Assigned to: <%= task.assignedTo[0].username %></h6>
                  <p class="card-text">Due date: <%= task.dueDate %></p>
                  <a href="/projects/<%= project._id %>/t/<%=task._id%>">View task</a>
                  <% if (currentUser.username == task.assignedTo[0].username || currentUser.username == project.creator[0].username){%>
                  <form action="/projects/<%= project._id%>/t/<%=task._id%>?_method=DELETE" method="post" class="mt-2">
                      <button class="btn btn-danger">Delete task</button>
                  </form>
                  <%}%>
                </div>
            </div>
            <% } %>
        <% } %>
        </ul>
        <!-- In progress -->
        <h3>In Progress</h3>
        <ul>
        <% for(let task of allTasks) { %>
            <% if(task.status == 'In Progress') { %>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"><%= task.title %></h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">Assigned to: <%= task.assignedTo[0].username %></h6>
                      <p class="card-text">Due date: <%= task.dueDate %></p>
                      <a href="/projects/<%= project._id %>/t/<%=task._id%>">View task</a>
                      <% if (currentUser.username == task.assignedTo[0].username || currentUser.username == project.creator[0].username){%>
                      <form action="/projects/<%= project._id%>/t/<%=task._id%>?_method=DELETE" method="post" class="mt-2">
                          <button class="btn btn-danger">Delete task</button>
                      </form>
                      <%}%>
                    </div>
                </div>
            <% } %>
        <% } %>
        </ul>
        <!-- Completed -->
        <h3>Completed</h3>
        <ul>
        <% for(let task of allTasks) { %>
            <% if(task.status == 'Completed') { %>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"><%= task.title %></h5>
                      <h6 class="card-subtitle mb-2 text-body-secondary">Assigned to: <%= task.assignedTo[0].username %></h6>
                      <p class="card-text">Due date: <%= task.dueDate %></p>
                      <a href="/projects/<%= project._id %>/t/<%=task._id%>">View task</a>
                      <% if (currentUser.username == task.assignedTo[0].username || currentUser.username == project.creator[0].username){%>
                      <form action="/projects/<%= project._id%>/t/<%=task._id%>?_method=DELETE" method="post" class="mt-2">
                          <button class="btn btn-danger">Delete task</button>
                      </form>
                      <%}%>
                    </div>
                </div>
            <% } %>
        <% } %>
        </ul>

        <a href="/projects/<%= project._id %>/add"><button class="btn btn-primary">Add Task</button></a>
    </div>

    <% if(currentUser.username == project.creator[0].username) { %>
    <div class="mb-3">
        <a href="/projects/<%= project._id %>/update"><button class="btn btn-primary">Update Project</button></a>
        <form action="/projects/<%= project._id%>?_method=DELETE" method="post">
            <button class="btn btn-danger">Delete Project</button>
        </form>
    </div>

    <!-- Add member Modal -->
    <% if(project.type=='Group Project'){ %>
    <div class="mb-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add new Member:</button>
        <div class="modal fade modal-dialog modal-dialog-centered" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <form action="/projects/<%=project._id%>/n" method='post'>
                    <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Recipient:</label>
                    <input type="text" class="form-control" id="recipient-name" name="newMemberEmail">
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send message</button>
                </form>
                </div>
            </div>
            </div>
        </div>
    </div>
    <%}%>
</div>
<%} else {%>
    <a href="/projects/<%= project._id %>/leave"><button class="btn btn-danger">Leave Project</button></a>
<% } %>


