<% layout('layouts/boilerplate') %>
<div class="container-md "  style="width: 80vh;">
    <h1>Update Project '<%= project.title %>'</h1>
    <div class="container-md">
        <form action="/projects/<%=project._id%>?_method=PUT" method="post" class="validated-form" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label" autofocus>Project title: </label>
                <input type="text" class="form-control" id="title" name="project[title]" value="<%= project.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        
            <div class="mb-3">
                <label for="description" class="form-label">Project Description:</label>
                <textarea type="text" class="form-control" id="description" name="project[description]"><%= project.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="type" class="form-label">Project type:</label>
                <!-- <select class="form-select" id="type" name="project[type]" aria-label="Default select example">
                    <option value="Personal Project" selected>Personal Project</option>
                    <option value="Group Project">Group Project</option>
                </select> -->
                <select name="project[type]" id="type">
                    <% for (let s of typeList) { %>
                        <option value="<%=s%>" <%= project.type === s ? 'selected' : '' %>><%=s%></option>
                    <%}%>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-primary btn-block">Update</button>
        </form>
    </div>
</div>