<% layout('layouts/boilerplate') %>
<h1>Title:<%=task.title %></h1>
<p>Description:<%=task.description %></p>
<p>Status:<%=task.status%></p>
<p>Priority:<%=task.priority%></p>
<p>Date of creation: <%=task.date%></p>
<p>Assigned to: Username</p>
<a href="/projects/<%=task.projectId%>">Back to all tasks</a>
<a href="/projects/<%= task.projectId %>/t/<%=task._id%>/update"><button class="btn btn-primary">Update Task</button></a>
